 SPEECH_TO_TEXT_AUTH_TYPE=iam
 SPEECH_TO_TEXT_APIKEY=JAcjGxv7ZbmIoCTr27VmKZaGJlIn1A7oR61uuptiLZ10
 SPEECH_TO_TEXT_URL=https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/57afdf03-ae8a-4aa4-b1f5-b864f69a35fa
 
 LANGUAGE_TRANSLATOR_AUTH_TYPE=iam
 LANGUAGE_TRANSLATOR_APIKEY=zbxpWATlLmmbIY83t739mrMDi6Fj8i0e713jyCXfEl8b
 LANGUAGE_TRANSLATOR_URL=https://api.us-south.language-translator.watson.cloud.ibm.com/instances/9c169c70-019e-46bc-9ea1-44d71c36a613

 TEXT_TO_SPEECH_AUTH_TYPE=iam
 TEXT_TO_SPEECH_APIKEY=O8ZZ9ATMQDyGSVujQfbTRSMjPexUymc9G8qxxj1o91pc
 TEXT_TO_SPEECH_URL=https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/551cc9cd-ae69-4df2-a7bd-44226e41710a

NATURAL_LANGUAGE_UNDERSTANDING_TYPE=iam
NATURAL_LANGUAGE_UNDERSTANDING_APIKEY=P3Bw7RXDkL0MgDpF82DlQN6uEzt9HMYJOGFDTFiX4cbl
NATURAL_LANGUAGE_UNDERSTANDING_URL=https://api.us-south.natural-language-understanding.watson.cloud.ibm.com/instances/c5c2a73c-e3f0-49f8-a116-154d636c2c82