# Copy this file to .env and replace the credentials with
# your own before starting the app.

#----------------------------------------------------------
# IBM Cloud
#
# If your services are running on IBM Cloud,
# uncomment and configure these.
# Remove or comment out the IBM Cloud Pak for Data sections.
#----------------------------------------------------------

# SPEECH_TO_TEXT_AUTH_TYPE=iam
# SPEECH_TO_TEXT_APIKEY=<add_speech-to-text_apikey>
# SPEECH_TO_TEXT_URL=<add_speech-to-text_url>

# LANGUAGE_TRANSLATOR_AUTH_TYPE=iam
# LANGUAGE_TRANSLATOR_APIKEY=<add_language-translator_apikey>
# LANGUAGE_TRANSLATOR_URL=<add_language-translator_url>

# TEXT_TO_SPEECH_AUTH_TYPE=iam
# TEXT_TO_SPEECH_APIKEY=<add_text-to-speech_apikey>
# TEXT_TO_SPEECH_URL=<add_text-to-speech_url>

#----------------------------------------------------------
# IBM Cloud Pak for Data (username and password)
#
# If your services are running on IBM Cloud Pak for Data,
# uncomment and configure these.
# Remove or comment out the IBM Cloud section.
#----------------------------------------------------------

# SPEECH_TO_TEXT_AUTH_TYPE=cp4d
# SPEECH_TO_TEXT_URL=https://{cpd_cluster_host}{:port}/speech-to-text/{release}/instances/{instance_id}/api
# SPEECH_TO_TEXT_AUTH_URL=https://{cpd_cluster_host}{:port}
# SPEECH_TO_TEXT_USERNAME=<add_speech-to-text_username>
# SPEECH_TO_TEXT_PASSWORD=<add_speech-to-text_password>
# # If you use a self-signed certificate, you need to disable SSL verification.
# # This is not secure and not recommended.
# SPEECH_TO_TEXT_DISABLE_SSL=true
# SPEECH_TO_TEXT_AUTH_DISABLE_SSL=true

# LANGUAGE_TRANSLATOR_AUTH_TYPE=cp4d
# LANGUAGE_TRANSLATOR_URL=https://{cpd_cluster_host}{:port}/language-translator/{release}/instances/{instance_id}/api
# LANGUAGE_TRANSLATOR_AUTH_URL=https://{cpd_cluster_host}{:port}
# LANGUAGE_TRANSLATOR_USERNAME=<add_language-translator_username>
# LANGUAGE_TRANSLATOR_PASSWORD=<add_language-translator_password>
# # If you use a self-signed certificate, you need to disable SSL verification.
# # This is not secure and not recommended.
# LANGUAGE_TRANSLATOR_DISABLE_SSL=true
# LANGUAGE_TRANSLATOR_AUTH_DISABLE_SSL=true

# TEXT_TO_SPEECH_AUTH_TYPE=cp4d
# TEXT_TO_SPEECH_URL=https://{cpd_cluster_host}{:port}/text-to-speech/{release}/instances/{instance_id}/api
# TEXT_TO_SPEECH_AUTH_URL=https://{cpd_cluster_host}{:port}
# TEXT_TO_SPEECH_USERNAME=<add_text-to-speech_username>
# TEXT_TO_SPEECH_PASSWORD=<add_text-to-speech_password>
# # If you use a self-signed certificate, you need to disable SSL verification.
# # This is not secure and not recommended.
# TEXT_TO_SPEECH_DISABLE_SSL=true
# TEXT_TO_SPEECH_AUTH_DISABLE_SSL=true


# # Optional: Instead of the above IBM Cloud Pak for Data credentials...
# # For testing and development, you can use the bearer token that's displayed
# # in the IBM Cloud Pak for Data web client. To find this token, view the
# # details for the provisioned service instance. The details also include the
# # service endpoint URL. Only disable SSL if necessary (insecure).
# # Don't use this token in production because it does not expire.
# #
# SPEECH_TO_TEXT_AUTH_TYPE=bearertoken
# SPEECH_TO_TEXT_BEARER_TOKEN=<add_speech-to-text_bearertoken>
# SPEECH_TO_TEXT_URL=<add_speech-to-text_url>
# # SPEECH_TO_TEXT_DISABLE_SSL=true
# LANGUAGE_TRANSLATOR_AUTH_TYPE=bearertoken
# LANGUAGE_TRANSLATOR_BEARER_TOKEN=<add_language-translator_bearertoken>
# LANGUAGE_TRANSLATOR_URL=<add_language-translator_url>
# # LANGUAGE_TRANSLATOR_DISABLE_SSL=true
# TEXT_TO_SPEECH_AUTH_TYPE=bearertoken
# TEXT_TO_SPEECH_BEARER_TOKEN=<add_text-to-speech_bearertoken>
# TEXT_TO_SPEECH_URL=<add_text-to-speech_url>
# # TEXT_TO_SPEECH_DISABLE_SSL=true

